
::selection {
    color: pink;
    background: black;
}

p::first-line {
    color: orange;
}

p::first-letter {
    color: red;
    font-size: 50px;
}

h1::before {
    background: url(https://cdn.dribbble.com/users/1787323/screenshots/9791845/media/81210e0150e626aa9678b53fc46bffa7.png?compress=1&resize=400x300);
    background-size: cover;
    width: 50px;
    height: 50px;
    display: inline-block;
    content: "";
    margin-right: 10px;
}

h1::after {
    background: url(https://cdn.dribbble.com/users/1787323/screenshots/9791845/media/81210e0150e626aa9678b53fc46bffa7.png?compress=1&resize=400x300);
    background-size: cover;
    width: 50px;
    height: 50px;
    display: inline-block;
    content: "";
    margin-left: 10px;
}